<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- 正常基于spring bean配置 -->

    <bean id="loginCheck" class="com.shuvigoss.services.LoginCheckServiceImpl"></bean>

    <bean id="login" class="com.shuvigoss.services.LoginServiceImpl">
        <property name="loginCheckService" ref="loginCheck"></property>
    </bean>

</beans>